* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: azure;
}
.wrapper {
  // width: 1920px;
  margin: 0 auto;
  width: 100%;
}

// HEADER
.header {
  position: relative;
  text-align: center;
  height: 1072px;
  width: 100%;

  background: url("../img/HeaderBG.png") center center no-repeat;
  &__logo {
    margin: 0 auto;
    padding-top: 284px;
  }

  &__bigtitle {
    margin: 0 auto;
    padding-top: 96px;
  }

  &__paragraph {
    margin: 0 auto;
    padding-top: 26px;
  }

  &__scroll {
    margin: 0 auto;
    padding-top: 226px;
  }
}
.logo {
  display: block;
}
.bigtitle {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 54px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.16em;
  text-transform: uppercase;

  color: #ffffff;
}
.paragraph {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 29px;
  width: 591px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.scroll {
  cursor: pointer;
}

// ABOUT
.about {
  display: flex;
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  width: 1920px;
  height: 630px;
  text-align: center;
  background: #ffffff;

  &__middle {
    margin: 0 auto;
    margin-top: 160px;
    margin-bottom: 160px;
    border: 2px solid #3c3c3c;

    text-align: center;

    padding: 30px 174px;
  }

  &__block {
    padding-top: 224px;
    width: 900px;
  }
}
.middle {
  &__lesstitle {
    font-weight: bold;
    font-size: 34px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.16em;
    text-transform: uppercase;

    color: #3c3c3c;
  }
}

.middle h2 {
  margin: -45px;
  margin-bottom: 50px;
  background-color: #ffffff;
}
.block {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  width: 551px;
  padding-bottom: 30px;
  padding-top: 50px;

  color: #3c3c3c;
}

// SEVICES
.services {
  background: url("../img/ServicesBG.png");
  font-family: "Lato", sans-serif;
  width: 1920px;
  height: 488px;

  text-align: center;
  margin: 0 auto;
  padding-top: 125px;

  &__box {
    padding-top: 110px;
    margin: 0 auto;
    background-color: transparent;
    border: 2px solid #ffffff;

    padding: 64px 182px 30px 182px;
    width: 900px;
    height: 238px;
  }
  &__box h2::before {
    content: "";

    width: 192px;
    text-align: center;
    top: -10px;
    transform: translateX(-50%);
  }
}
.box {
  color: #ffffff;
}
.box h2 {
  margin-top: -75px;
  font-weight: bold;
  padding-bottom: 50px;
  font-size: 34px;
  line-height: 29px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}
.box p {
  padding-bottom: 30px;
  margin: 0 auto;
  width: 536px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

// WHAT WE TO DO
.whatwedo {
  background: #ffffff;
  width: 1920px;
  padding-top: 125px;
  height: 1423px;
  text-align: center;
  margin: 0 auto;
  &__wbox {
    margin-top: 125px;
    width: 900px;
    margin: 0 auto;

    border: 2px solid #3c3c3c;
  }

  &__elements {
    padding: 0 145px;
  }
}
.wbox {
}
.wbox h2 {
  font-weight: bold;
  font-size: 34px;
  line-height: 29px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  margin-top: -13px;
  padding-bottom: 76px;
  color: #3c3c3c;
}
.elements {
  &__inner {
    width: 555px;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    text-align: center;

    color: #3c3c3c;
  }
}
.elements img {
  padding-bottom: 30px;
}
.elements__inner h3 {
  font-weight: bold;
  font-size: 34px;
  line-height: 41px;
  padding-bottom: 30px;
  letter-spacing: 0.16em;
  text-transform: uppercase;

  color: #3c3c3c;
}
.elements p {
  padding-bottom: 90px;
}
.design {
}
.develop {
}
.pm {
  padding-bottom: 90px;
}

// OUR WORKS
.ourworks {
  background: #ffffff;
  margin: 0 auto;
  padding-top: 125px;
  width: 1920px;
}
.praca {
}
// CONTACT
.contact {
  background: #ffffff;
  height: 700px;
  margin: 0 auto;
  width: 1920px;
  text-align: center;
  padding-top: 150px;
  &__pudelko {
    font-family: "Lato", sans-serif;
    height: 301px;
    width: 900px;
    margin: 0 auto;

    border: 1px solid black;
  }
  &__pudelko h2 {
    margin-top: -10px;
    font-weight: bold;
    font-size: 34px;
    line-height: 29px;

    text-align: center;
    letter-spacing: 0.16em;
    text-transform: uppercase;

    color: #3c3c3c;
  }
  &__pudelko p {
    padding: 60px 173px 115px 172px;

    height: 78px;

    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;

    text-align: center;

    color: #3c3c3c;
  }
}
.pudelko {
}
.button {
  width: 395px;
  height: 58px;
  cursor: pointer;

  // margin-bottom: 50px;

  background: #3c3c3c;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.16em;
  text-transform: uppercase;

  color: #ffffff;
}

// COPYIGHT
.copyright {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1920px;
  margin: 0 auto;
  background: #ffffff;
  color: #3c3c3c;

  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;

  padding-bottom: 90px;
}
.copyright img {
  margin-right: 30px;
}
